# ELDER WRAP

# enter elder gRPC url (generally on port :9090)
export ELDER_gRPC=

# enter rollApp RPC url (generally on port :8545)
export ROLL_APP_RPC=

# enter the private key
export COSMOS_PRIVATE_KEY=

# enter roll app id for which txn is intended
export ROLL_ID=

# Default is 2uelder/gas if nothing is set (uint64)
export ELDER_GAS_PRICE=

# Default is 8546 if nothing is set
export ELDER_WRAP_PORT=

# Defualt is false
export DEBUG=
